GEMINI_API_KEY=<gemini-api-key>
GEMINI_API_KEY2=<gemini-api-key>

LANGSMITH_TRACING=true # false to stop tracing
LANGSMITH_API_KEY=<langsmith-api-key>
LANGSMITH_PROJECT=<langsmith-project-name>
LANGSMITH_ENDPOINT=https://api.smith.langchain.com